@font-face {
  font-family: "Pretendard";
<<<<<<< HEAD
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
=======
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
>>>>>>> 98973b0 ( &copy (카피라이터) 구분선 스타일 작성)
  font-display: swap;
}
* {
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f9f5ea;
}
<<<<<<< HEAD
.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
=======
.head-container {
>>>>>>> 98973b0 ( &copy (카피라이터) 구분선 스타일 작성)
  width: 100%;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.greet-box {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
  height: 117px;
}
.theme-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 50%;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
}
<<<<<<< HEAD
.greet-text {
=======
.time-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1;
}
.time-box {
  flex-grow: 1;
  flex-basis: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 150px; */
  height: 100%;
  background-color: #fafafa;
  border-radius: 30px;
  border: 1px solid #d9cebb;
  font-size: 100px;
  font-family: "Chonburi";
  box-shadow: 1px 1px 1px 1px #d9cebb;
}
.colon {
  font-family: "Chonburi";
  min-width: 30px;
  height: 120px;
  font-size: 100px;
}
.category-box {
>>>>>>> 98973b0 ( &copy (카피라이터) 구분선 스타일 작성)
  display: flex;
  flex-direction: column;
  font-family: "Pretendard";
}
.timer-box {
  display: flex;
  gap: 10px;
}
.time-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
  height: 117px;
  font-family: "chonburi";
  font-size: 60px;
}
.colon {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "chonburi";
}
.category-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
  height: 100px;
  font-family: "chonburi";
  font-size: 20px;
}
.category-count {
  font-size: 30px;
}
.filter-box {
  padding: 20px 30px;
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
  font-family: "Pretendard";
  font-size: 20px;
}
.filter-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 10px;
  font-family: "Pretendard";
  font-size: 20px;
}
.todo-search {
  display: flex;
  flex: 1;
  min-width: 250px;
  min-height: 45px;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
}
.period {
  display: flex;
  flex: 1;
  min-width: 130px;
  min-height: 45px;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
}
.importance {
  display: flex;
  flex: 1;
  min-width: 130px;
  min-height: 45px;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
}
.sorting {
  display: flex;
  flex: 1;
  min-width: 130px;
  min-height: 45px;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
}
.add-btn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-width: 351px;
  min-height: 45px;
  cursor: pointer;
  /* background-color: #0c0c0c; */
  /* border: 1px solid #555555; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
  /* color: #fafafa; */
}
.main-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.sticker-box {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Pretendard";
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 30px;
  cursor: pointer;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
  /* color: red; */
}
.boards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  min-height: 400px;
  font-family: "Pretendard";
}
.todo-board {
  padding: 20px;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
  height: 100%;
}
.board-text {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d9cebb;
  font-size: 20px;
}
.in-progress-board {
  padding: 20px;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
  height: 100%;
}
.done-board {
  padding: 20px;
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  border-radius: 16px;
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
  height: 100%;
}
.board-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-family: "chonburi";
  /* background-color: #fafafa; */
  /* border: 1px solid #d9cebb; */
  /* box-shadow: 1px 1px 1px 1px #d9cebb; */
  border-radius: 50%;
}
.line {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  border-top: 1px solid #000;
  margin-top: 50px;
}
.footer-comment {
  text-align: center;
  font-size: 13px;
  height: 72px;
}
