.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
#todo-modal-title {
  width: 350px;
  height: 40px;
  border-radius: 25px;
  margin-bottom: 15px;
  border: 1px solid black;
  text-align: center;
}
#todo-modal-desc {
  width: 350px;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
  text-align: left;
  padding: 13px;
  box-sizing: border-box;
  resize: none;
  font-weight: 600;
}
#todo-modal-desc::placeholder {
  text-align: center;
  line-height: 220px;
}
.modal-content {
  width: 400px;
  border-radius: 30px;
  border: 2px solid black;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reset-modal .modal-content {
  width: 350px;
  height: 200px;
}

.modal-overlay.active {
  display: block;
}
.todo-modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#todo-btn-plus {
  width: 350px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid black;
  margin-bottom: 15px;
  text-align: center;
  background-color: white;
}
#todo-btn-plus:hover {
  background-color: rgb(213, 245, 255);
}
#todo-btn-close {
  width: 350px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 15px;
  background-color: white;
}
#todo-btn-close:hover {
  background-color: rgb(245, 206, 213);
}
.reset-modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-modal-text {
  padding: 20px;
}
#reset-btn-clear {
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 15px;
  background-color: white;
}
#reset-btn-close {
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
}
#reset-btn-clear:hover {
  background-color: rgb(213, 245, 255);
}
#reset-btn-close:hover {
  background-color: rgb(245, 206, 213);
}
