.todo-board {
  display: flex;
  flex-direction: column;
}
.todo-list-container {
  margin: 10px 0px 0px 10px;
  padding: 10px 12px;
  border-radius: 6px;
  margin-bottom: 8px;
}
.todo-item {
  display: flex;
  min-width: 100%;
  min-height: 200px;
  background-color: #fafafa;
  /* border: 1px solid #d9cebb; */
  color: #0c0c0c;
  border-radius: 30px;
  padding: 20px;
  text-align: right;
  cursor: pointer;
  margin-bottom: 20px;
}
.todo-item-desc {
  margin-top: 10px;
  color: #5f6f81;
}
button {
  cursor: pointer;
}
.del-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  border: 1px solid #555555;
}
