.todo-board {
  display: flex;
  flex-direction: column;
}
.todo-list-container {
  margin: 10px 0px 0px 10px;
  padding: 10px 12px;
  border-radius: 6px;
  margin-bottom: 8px;
}
.todo-item {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-weight: 500;
}
.todo-item-desc {
  margin-top: 10px;
  color: #5f6f81;
}
button {
  cursor: pointer;
}
.del-btn {
  color: red;
  width: 35px;
  height: 37px;
  border-radius: 8px;
  text-align: center;
}
